<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Simple Food</title>
  </head>
  <body>
    <h1>Welcome to Simple Food</h1>
    <p>
      Simple to prepare recipes that celebrate fresh seasonal ingredients, and
      the joy of cooking and eating.
    </p>
    <button onclick="location.href='/recipes'">View All Recipes</button>
  </body>
</html>
<!-- inspo credit: https://simplefood.blog/ -->
