<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <title>All Recipes</title>
  </head>
  <body>
    <h1><i class="fa fa-home" onclick="location.href='/'"></i> All Recipes</h1>
    <ul>
      <% recipes.forEach((x) => { %>
      <li><a href="/recipes/<%= x._id %>"><%= x.name %></a></li>
      <% }) %>
    </ul>
    <button onclick="location.href='/recipes/new'">Add New Recipe</button>
  </body>
</html>
